{% extends 'base.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem blanditiis dolor ex ipsum odit saepe ut vel voluptas voluptate. Accusamus consequuntur dolorum et in officia officiis perspiciatis, soluta vitae.
    </p>
    <ul>
        {{ dump(app.current_route) }}
        {% for recipe in recipes %}
            <li>
                <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}"> {{recipe.title}} </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

